appdirs
asgiref
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
cryptography
Django
djangorestframework
django-cors-headers
dnspython
facebook_scraper
Jinja2
linkedin_api
lxml_html_clean
Pillow
psycopg2-binary
python-dotenv
requests
requests-html
requests-unixsocket
rich
textblob
stweet