<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Social Listening Dashboard</title>
    {% load static %}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Add these script tags in the <head> section of your HTML template -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

    <!-- Add this link tag in the <head> section or before the closing </body> tag of your HTML template -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

  </head>
  <style>
      </style>

  <body>
    <div class="container">
      <div class="navigation">
        <a href="{% url 'main' %}">
          <span class="main-icon"><ion-icon name="aperture"></ion-icon></span>
        </a>
        <span class="main-title">Social Listening</span>

        <ul>
          <li>
            <a href="{% url 'main' %}">
              <span class="icon"><ion-icon name="list"></ion-icon></span>
              <span class="title">Posts</span>
            </a>
          </li>
          <li>
            <a href="{% url 'new_post_manually' %}" id="add-new">
              <span class="icon"><ion-icon name="keypad-outline"></span>
              <span class="title">New Post Manually</span>
            </a>
          </li>
          <li>
            <a href="{% url 'new_post' %}" id="add-new">
              <span class="icon"><ion-icon name="add"></ion-icon></span>
              <span class="title">Add New</span>
            </a>
          </li>
          <li>
            <a href="{% url 'comparison' %}" id="add-new">
              <span class="icon"><ion-icon name="git-compare-outline"></ion-icon></span>
              <span class="title">Compare users</span>
            </a>
          </li>
          <li>
            <a href="{% url 'help' %}">
              <span class="icon"
                ><ion-icon name="help-circle-outline"></ion-icon
              ></span>
              <span class="title">Help</span>
            </a>
          </li>
          <li class="logout">
            <a class="logout-link" href="{% url 'signout' %}">
              <span class="icon"
                ><ion-icon name="log-out-outline"></ion-icon
              ></span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
        <div class="profileContainer">
          <div class="user-profile">
            <div class="avatar">
              <img src="{% static 'images/face23.jpg' %}" alt="Profile Image" />
            </div>
            <div class="greeting">
              {% if user.is_authenticated %}
              <span class="username">{{user.username}} </span>
              {% endif %}
              <span class="email">{{user.email}} </span>
            </div>
          </div>
        </div>

        <!-- <form class="searchContainer" action="{% url 'search_results' %}" method="get">
                <div class="searchBar">
                    <ion-icon name="search-outline"></ion-icon>
                    <input type="text" placeholder="Search username" name="username">
                    <button class="" style="margin-top: 5px;" type="submit">
                        <ion-icon name="send"></ion-icon>
                    </button>
                </div>
                 <span style="text-decoration: underline;">Apply Filters</span>
                 
                <button class="search" onclick="toggleMenu()" type="button">Filters</button>
                <div class="filter-menu" id="filterMenu">
                    <ul>
                        <li>
                            <label for="likesRange">Likes</label>
                            <input type="text" likesRange" name="likes">
                        </li>
                        <li>
                            <label for="commentsRange">Comments</label>
                            <input type="text" id="commentsRange" name="comments">
                        </li>
                        <li>
                            <label for="sharesRange">Shares</label>
                            <input type="text" id="sharesRange" name="shares">
                        </li>
                        <li>
                            <label for="post_date">Post Date:</label>
                            <input type="date" class="form-control" name="post_date" pattern="\d{4}-\d{2}-\d{2}">
                        </li>
                    </ul>
                </div>
            </form> -->

        <!-- </div> -->
      </div>
      <!-- main -->
      <div class="main" id="main">
        <div class="home-alert">{% include 'includes/alerts.html' %}</div>
        <div class="tpContainer" id="tpContainer">
         
          <div class="tpHeading">
            <span>Tracked Posts</span>
            <button class="export-data-btn" id="export-data-btn">Export Data</button>
          </div>
          {% for post in posts %}
          <div class="tpCard">
            <a
              href="{% url 'post_detail' post_id=post.post_id %}"
              style="color: inherit; text-decoration: none"
            >
              <div class="tpCardColumn">
                <div class="tpTopRow">
                  <div class="tpUsername">
                    <span>{{post.username}}</span>
                  </div>
                  <div class="tpPlatformIcon">
                    {%if post.platform_id == '1' %}<ion-icon
                      class="logo-icon"
                      name="logo-facebook"
                      style="color: #3b5998"
                    ></ion-icon>
                    {% elif post.platform_id == '2' %}<ion-icon
                      class="logo-icon"
                      name="logo-twitter"
                      style="color: #00acee"
                    ></ion-icon>
                    {% elif post.platform_id == '3' %}<ion-icon
                      class="logo-icon"
                      name="logo-linkedin"
                      style="color: #0e76a8"
                    ></ion-icon>
                    {% elif post.platform_id == '4' %}<ion-icon
                    class="logo-icon"
                    name="logo-tiktok"
                    style="color: #01080B"
                  ></ion-icon>
                  {% elif post.platform_id == '5' %}<ion-icon
                      class="logo-icon"
                      name="logo-instagram"
                      style="color: #EC9B5F"
                    ></ion-icon>
                    {% elif post.platform_id == '6' %}<ion-icon
                      class="logo-icon"
                      name="logo-youtube"
                      style="color: #FF5733"
                    ></ion-icon>
                    {% else %}{% endif %}
                  </div>
                </div>
                <div class = "tpPostId">
                  <span>Post ID: {{post.post_id|truncatechars:20}}</span>
                </div>
                <div class="tpPostContent">
                  <span>{{post.content|truncatechars:50}}</span>
                </div>
                <!-- <div class="tpSentiment">
                  <span
                    class="sentimentText"
                    data-positive-score="{{ post.positive_score }}"
                    data-negative-score="{{ post.negative_score }}"
                    data-neutral-score="{{ post.neutral_score }}"
                  >
                    {% if post.positive_score > post.negative_score and post.positive_score > post.neutral_score %} Overall Positive Sentiment 
                    {% elif post.negative_score > post.positive_score and post.negative_score > post.neutral_score %} Overall Negative Sentiment 
                    {% else %} Overall Neutral Sentiment {% endif %}
                  </span>
                </div> -->

                <div class="tpBottomRow">
                  <div class="tpStats">
                    <ion-icon name="heart"></ion-icon>
                    {% with last_like=post.likes|last %}
                    <span>{{ last_like.value}} Likes</span>
                    {% endwith %}
                  </div>
                  <div class="tpStats">
                    <ion-icon name="chatbox"></ion-icon>
                    {% with last_like=post.num_comments|last %}
                    <span>{{ last_like.value}} Comments</span>
                    {% endwith %}
                  </div>
                  <div class="tpStats">
                    <ion-icon name="share-social"></ion-icon>
                    {% with last_like=post.likes|last %}
                    <span>{{ last_like.value}} Shares</span>
                    {% endwith %}
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- <div class="searchContainer" id="searchContainer"> -->
      <div class="searchContainer" id="searchContainer">
        <button class="filter-button" onclick="toggleMenu()" type="button">
          Filters
        </button>
        <div class="filter-menu" id="filterMenu" style="z-index: 10000">
          <form class="form" action="{% url 'search_results' %}" method="get">
            {% csrf_token %}
            <button class="close-button" onclick="toggleMenu()" type="button">
              <ion-icon name="chevron-up-outline"></ion-icon>
            </button>
            <span class="search-title"> Search </span>
            <div class="form-field">
              <label for="username">Username:</label>
              <input
                type="text"
                placeholder="eg Geoffrey Peter"
                name="username"
              />
            </div>
            <div class="form-field">
              <label for="likes">Max Likes:</label>
              <input
                type="number"
                min="0"
                step="1"
                placeholder="eg 10000"
                value="0"
                name="likes"
              />
            </div>
            <div class="form-field">
              <label for="comments">Max Comments:</label>
              <input
                type="number"
                min="0"
                step="1"
                placeholder="eg 10000"
                value="0"
                name="comments"
              />
            </div>
            <div class="form-field">
              <label for="shares">Max Shares:</label>
              <input
                type="number"
                min="0"
                step="1"
                placeholder="eg 10000"
                value="0"
                name="shares"
              />
            </div>
            <div class="form-field">
              <label for="post_date">Post Date:</label>
              <input
                type="date"
                class="form-control"
                name="post_date"
                pattern="\d{4}-\d{2}-\d{2}"
              />
            </div>
            <button class="test-scrap-button" type="submit">Search</button>
          </form>
        </div>
      </div>

      <div class="postDetail">{% block content %} {% endblock %}</div>
    </div>
    <script>
      let navigation = document.querySelector('.navigation')
      let main = document.querySelector('.main')
      let list = document.querySelectorAll('.navigation li')
      var logoutButton = document.querySelector('.navigation ul li.logout')

      //add the hovered property to the list item that is hovered
      //remove the hovered property from the list item that is not hovered
      list.forEach((item) =>
        item.addEventListener('mouseover', function (event) {
          if (
            !event.relatedTarget ||
            !navigation.contains(event.relatedTarget)
          ) {
            list.forEach((item) => item.classList.remove('hovered'))
            this.classList.add('hovered')
          }
        })
      )

      //remove the hovered property from the all list items when leaving the navigation bar
      navigation.addEventListener('mouseout', function (event) {
        if (!event.relatedTarget || !navigation.contains(event.relatedTarget)) {
          list.forEach(function (item) {
            item.classList.remove('hovered')
          })
        }
      })

      //check if the mouse is over the logout button
      //add the hovered property to the logout button
      logoutButton.addEventListener('mouseover', function () {
        this.classList.add('hovered')
      })
      //check if the mouse is not over the logout button
      //remove the hovered property from the logout button
      logoutButton.addEventListener('mouseout', function () {
        this.classList.remove('hovered')
      })

      //add the selected property to the list item that is clicked
      list.forEach((item) =>
        item.addEventListener('click', function (event) {
          if (
            !event.relatedTarget ||
            !navigation.contains(event.relatedTarget)
          ) {
            list.forEach((item) => item.classList.remove('selected'))
            this.classList.add('selected')
          }
        })
      )

      // Set the initial selected tab based on the current URL
      let currentUrl = window.location.href
      let links = document.querySelectorAll('.navigation li a')

      links.forEach((link) => {
        if (link.href === currentUrl) {
          link.parentElement.classList.add('selected')
        }
      })
      // Get all the sentimentText elements
      var sentimentTextElements = document.querySelectorAll('.sentimentText')

      // Iterate through each sentimentText element
      sentimentTextElements.forEach(function (sentimentText) {
        // Get the scores from the data attributes
        var positiveScore = parseFloat(
          sentimentText.getAttribute('data-positive-score')
        )
        var negativeScore = parseFloat(
          sentimentText.getAttribute('data-negative-score')
        )
        var neutralScore = parseFloat(
          sentimentText.getAttribute('data-neutral-score')
        )

        // Determine the color class based on the scores
        if (positiveScore > negativeScore && positiveScore > neutralScore) {
          sentimentText.classList.add('positive')
        } else if (
          negativeScore > positiveScore &&
          negativeScore > neutralScore
        ) {
          sentimentText.classList.add('negative')
        } else {
          sentimentText.classList.add('neutral')
        }
      })

      function toggleMenu() {
        var filterMenu = document.getElementById('filterMenu')
        if (filterMenu.style.display === 'block') {
          filterMenu.style.display = 'none'
        } else {
          filterMenu.style.display = 'block'
        }
      }

      document.getElementById("export-data-btn").addEventListener("click", function() {
        var link = document.createElement('a');
        link.href = "{% url 'export_data_json' %}";
        link.download = "data.json";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    });

      // var likesRange = document.getElementById('likesRange');
      // var likesOutput = document.getElementById('likesOutput');
      // likesRange.addEventListener('input', function () {
      //     likesOutput.textContent = likesRange.value;
      // });

      // var commentsRange = document.getElementById('commentsRange');
      // var commentsOutput = document.getElementById('commentsOutput');
      // commentsRange.addEventListener('input', function () {
      //     commentsOutput.textContent = commentsRange.value;
      // });

      // var sharesRange = document.getElementById('sharesRange');
      // var sharesOutput = document.getElementById('sharesOutput');
      // sharesRange.addEventListener('input', function () {
      //     sharesOutput.textContent = sharesRange.value;
      // });

      // $('input[type="range"]').on('input', function () {
      //     var value = $(this).val();
      //     $(this).css('--slider-value', value + '%');
      // });
    </script>
  </body>
</html>
